@model RHOFATMA.Web.Models.TblDeduction
@{ ViewData["Title"] = "Details deduction"; }

<h1 class="h3 mb-3">Details deduction</h1>
<dl class="row">
    <dt class="col-sm-3">Employe</dt>
    <dd class="col-sm-9">@Model.IdEmployeNavigation.NomEmploye @Model.IdEmployeNavigation.PrenomEmploye</dd>
    <dt class="col-sm-3">Type deduction</dt>
    <dd class="col-sm-9">@Model.TypeDeduction</dd>
    <dt class="col-sm-3">Montant</dt>
    <dd class="col-sm-9">@Model.MontantDeduction.ToString("N2")</dd>
    <dt class="col-sm-3">Date</dt>
    <dd class="col-sm-9">@Model.DateDeduction.ToString("yyyy-MM-dd")</dd>
    <dt class="col-sm-3">Motif</dt>
    <dd class="col-sm-9">@Model.Motif</dd>
</dl>
<a asp-action="Edit" asp-route-id="@Model.IdDeduction" class="btn btn-primary">Modifier</a>
<a asp-action="Index" class="btn btn-outline-secondary">Retour</a>
